<footer style="background-image: url(https://wallup.net/wp-content/uploads/2016/05/27/181045-Minecraft-Sun-moon-lava-water-shaders-black-748x421.png);" class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">© Turboxactyl | <a style="color: white" href="https://github.com/VedangOp/Turboxactyl.git">Turboxactyl CP</a></span>
    </div>
</footer>
